* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', Courier, monospace;
}

nav  {
  height: 70 px;
  display: flex;
  background-color: rebeccapurple;
  box-shadow: 0px 7px rgba(0,0,0,0.1);

}

.grey {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

nav > img {
padding: 20px 36px;
max-width: 300px;
}

hero {
  text-align: left;
  font-family: 'Poppins', Courier, monospace;
}

.hero-img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 40px;
}

.experiences-title {
  font-size: 36px;
  padding-left: 20px;
}

.paragraph-text {
  font-size: 16px;
  padding-left: 20px;

}

.card {
  width: 175px;
  font-size: 12px;
  flex:  0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  overflow-x: auto;

}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}

section{
  padding-left: 20px;
}